<div class="container">

  <div class="form-row" *ngIf="empresa else carregando">
    <div class="form-group col-12">
      <h2 class="text-center"><label id="nome-fantasia" class="text-center">Empresa {{empresa.nomeFantasia}}</label>
      </h2>

    </div>

    <div class="row">
      
      <div class="col w=100">
        <img src="assets/img/download.webp" class="img-fluid" alt="Responsive image" id="image-ver">
      </div>

      <div class="col w=100">

        <div class="form-group col-12">
        <label class="text-center"><strong>Nome Fantasia: </strong>{{empresa.nomeFantasia}}</label>
      </div>
        <div class="form-group col-12">
          <label><strong>CNPJ: </strong>{{empresa.cnpj}}</label>
        </div>
        <div class="form-group col-12">
          <label><strong>Razão social: </strong>{{empresa.razaoSocial}}</label>
        </div>
        <div class="form-group col-12">
          <label><strong>Missão: </strong>{{empresa.missao}}</label>
        </div>
        <div class="form-group col-12">
          <label><strong>Visão: </strong>{{empresa.visao}}</label>
        </div>
      </div>
    </div>


    <label><strong>Funcionários: </strong></label>
    <table class="table table-striped table-light">
     
      <thead class="thead">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let funcionario of empresa.funcionarios">
          <td> {{ funcionario.id }} </td>
          <td> {{ funcionario.name }} </td>
          <td> {{ funcionario.email }} </td>

        </tr>
      </tbody>
    </table>

  </div>
  <ng-template #carregando>Carregando...</ng-template>

  <div class="text-center">
    <button class="btn btn-primary mr-1" [routerLink]="['../../']" href="#">Voltar</button>
  </div>
</div>