<section class="features">
    <div class="container">
        <div class="row">

            <div class="col w=100">
                <div class="circle"><i class="fa fa-users" id = "icon-users"></i></div>
                <h2>Usuários</h2>
                <p>Crie, veja todas os usuários cadastrados, atualize as informações ou excluia o cadastro do usuário.</p>
            </div>
            <div class="col w=100">
                <div class="circle"></div>
                <h2>Empresas</h2>
                <p>Crie, veja todas as empresas cadastradas, atualize as informações ou excluia o cadastro da empresa.</p>
            </div>

        </div>
    </div>
</section>