<section class="features">
    <div class="container">
        <div class="row">

            <div class="col w=100">
                <div class="circle" [routerLink]="['usuarios/']"><i class="fa fa-users fa-5x" style="margin-top: 20%; color: white;"></i></div>
                <h2 [routerLink]="['usuarios/']">Usuários</h2>
                <p>Crie, veja todas os usuários cadastrados, atualize as informações ou excluia o cadastro do usuário.</p>
            </div>
            <div class="col w=100">
                <div class="circle" [routerLink]="['empresas/']"><i class="fa fa-building fa-5x" style="margin-top: 20%; color: white;"></i></div>
                <h2 [routerLink]="['empresas/']">Empresas</h2>
                <p>Crie, veja todas as empresas cadastradas, atualize as informações ou excluia o cadastro da empresa.</p>
            </div>

        </div>
    </div>
</section>
